// main file for css, handles imports, and properties for the whole application

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-width: 100%;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@import './var';
@import './header';
@import './list';
@import './issue';

// css for classes that can be applied anywhere
.bold{
    font-weight: bold;
}

.small{
    font-size: 0.75rem;
    font-style: italic;
    margin: 0 !important;
}

.green{
    color: $green;
}

.red{
    color: red;
}

// media query to provide mobile first design and update when page gets bigger
@media (min-width: 700px){
    .list-header, .issue-header{
        flex-direction: row;
    }
}
